$topperFont: 'Abel', sans-serif;
$standardFont: 'Montserrat', sans-serif;
$textFont: 'Open Sans', sans-serif;

$facebook:#3B5998;
$twitter:#1DA1F2;
$instagram:#885A4D;
$snapchat:#FFFC00;
$linkedin:#007BB6;
$reddit:#FF4500;
$return:#333;

html{
font-size:inherit !important;
}
body{
	font-size:inherit !important;
}
*{
	margin: 0;
	padding: 0;
}

#subtitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	color:#e74c3c;
	font-weight:800;
	a{
		color:#e74c3c;
		&:hover{
			color:#34495e;
		}
	}
}

.wrapper{
	width:1600px;
	max-width:100%;
	margin:auto;
}
	@media screen and (min-width:220px) and (max-width:960px){
		.wrapper{
			width:100% !important;
		}
	}
	@media screen and (max-width:1700px){
		.wrapper{
			width:94%;
			margin:auto;
		}
	}

h1,h2,h3,em,p,iframe,img,li{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}
img{
	display: block;
}

a{
	text-decoration: none;
	color:#333;
}

.inline{
	li{
		display: inline-block;
	}
}
@import 'pieces/toppers';
@import 'pieces/footer';
@import 'pieces/subPages';

@import 'pieces/collage';

@import 'pieces/smallPage';
@import 'pieces/middle';
@import 'pieces/postpageSecond';
@import 'pieces/coverImage';

@import 'pieces/mobile';
@import 'pieces/frontPage';
@import 'pieces/BootstrapBajs';
@import 'pieces/admin';
@import 'pieces/author';

#image_name_views{
	overflow: hidden;
	text-align: center;
	width:60%;
	margin:auto;
	#authorImage{
		width:25px;
		border-radius:100%;
		float:left;
	}
	#author_category{
		float:left;
		vertical-align: top;
		padding:5px;
		margin-left: 5px;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-size:.9em;
		display: inline-block;
	}
	#views{
		float:right;
		padding:5px;
	}
}

#comment{
	padding: 80px 0;
}

#searchField{
	overflow: hidden;
	width:100%;
	background-color: #fff;
	padding: 4% 0%;
	display:none;
	.wrapper{
		width:800px;
		margin:auto;
	}
	input{
		padding:20px 0;
		border:none;
		border-bottom:solid 3px #000;
		outline:none;
		width: 100%;
		font-family: 'Montserrat', sans-serif;
		font-weight:400;
		font-size:2em;
		float:left;
	}
	.fa-search{
		float:right;
		vertical-align: top;
		margin-top: -70px;
		font-size:3em;
		border:none;
		background-color: transparent;
		cursor:pointer;
		&:hover{
			color:#16a085;
		}
	}
}
#searchPage{
	overflow: hidden;
	width:100%;
	background-color: #fff;
	padding: 4% 0%;
	.wrapper{
		width:800px;
		margin:auto;
	}
	input{
		padding:20px 0;
		border:none;
		border-bottom:solid 3px #000;
		outline:none;
		width: 100%;
		font-family: 'Montserrat', sans-serif;
		font-weight:400;
		font-size:2em;
		float:left;
	}
	.fa-search{
		float:right;
		vertical-align: top;
		margin-top: -70px;
		font-size:3em;
		border:none;
		background-color: transparent;
		cursor:pointer;
		&:hover{
			color:#16a085;
		}
	}
}


#scrollLoader{
	main{
		display:flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		flex-flow: row wrap;
		align-content: flex-end;
		margin:auto;
		margin-bottom: 10px;
		margin-top: 20px;

		article{
			overflow: hidden;
			float:left;
			box-sizing:border-box;
			margin-bottom: 60px;
			vertical-align: top;
			.hoverColors{
			&:hover{
				h2{color:#ff7675;}}
			}
		@media screen and (max-width:580px){
			width:100%;
			margin:auto;
			float:none;
			margin-bottom: 60px;
		}
		@media screen and (min-width:581px) and (max-width:1050px){
			width:48%;
		}
		@media screen and (min-width:1051px){
			width: 30%;
		}

			img{
				width:100%;
				display: block;
			}
			header{
				box-sizing:border-box;
				margin-top: 22px;
				@media screen and (max-width:800px){
				}
				@media screen and (min-width:801px){
				}
			}
			h2{
				font-size:1em;
				font-weight:800;
				line-height: 1.6em;
				font-family: 'Poppins', sans-serif;
				font-weight:700;

				@media screen and (max-width:800px){
					line-height: 1.3em;
				}
				@media screen and (min-width:801px){
					line-height: 1.6em;
				}
			}
			p{
				margin-top: 15px;
				font-size:.9em;
				line-height: 1.5em;

				@media screen and (max-width:840px){
					font-size:.8em;
				}
			}

			ul{
				font-size:.8em;
				margin-top: 10px !important;
				overflow: hidden;

				a{
					display: inline-block;
					&:hover{
						color:#ff7675 !important;
					}
				}
				li{
					strong{
						display: inline-block;
					}
					&:nth-of-type(2n){
						float:right;
					}
				}
			}
			#laptop{
				display:none;
			}
			#mobile{
				a{
					color:#7f8c8d;
					font-weight:400;
				}
				color:#7f8c8d;
			}
		}
	}
}
#scrollLoader{
	display:flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
	align-content: flex-end;
	margin:auto;
	margin-bottom: 10px;
	margin-top: 20px;

	article{
		overflow: hidden;
		float:left;
		box-sizing:border-box;
		margin-bottom: 60px;
		vertical-align: top;
		.hoverColors{
		&:hover{
			h2{color:#ff7675;}}
		}
	@media screen and (max-width:580px){
		width:100%;
		margin:auto;
		float:none;
		margin-bottom: 60px;
	}
	@media screen and (min-width:581px) and (max-width:1050px){
		width:48%;
	}
	@media screen and (min-width:1051px){
		width: 30%;
	}

		img{
			width:100%;
			display: block;
		}
		header{
			box-sizing:border-box;
			margin-top: 22px;
			@media screen and (max-width:800px){
			}
			@media screen and (min-width:801px){
			}
		}
		h2{
			font-size:1em;
			font-weight:800;
			line-height: 1.6em;
			font-family: 'Poppins', sans-serif;
			font-weight:700;

			@media screen and (max-width:800px){
				line-height: 1.3em;
			}
			@media screen and (min-width:801px){
				line-height: 1.6em;
			}
		}
		p{
			margin-top: 15px;
			font-size:.9em;
			line-height: 1.5em;

			@media screen and (max-width:840px){
				font-size:.8em;
			}
		}

		ul{
			font-size:.8em;
			margin-top: 10px !important;
			overflow: hidden;

			a{
				display: inline-block;
				&:hover{
					color:#ff7675 !important;
				}
			}
			li{
				strong{
					display: inline-block;
				}
				&:nth-of-type(2n){
					float:right;
				}
			}
		}
		#laptop{
			display:none;
		}
		#mobile{
			a{
				color:#7f8c8d;
				font-weight:400;
			}
			color:#7f8c8d;
		}
	}
}