nav.navbar{
	.container{
		width:100%;
	}
}
ul.nav{
	*{display: inline-block;}
}



.wrapper{
}

#cke_editor1{
	width:100% !important;
	margin:auto;
	box-sizing:border-box;
	border:none !important;
}
#cke_editor1{
	margin:0 !important;
}
.ckeditor{
	margin-top: -10px;
}

#coverImage,
#picture_text{
	textarea{
		width: 940px;
		border:none;
		background-color: transparent;
		outline:none;
	}
}

#coverImage{
	textarea{
		outline:none;
		font-family: 'Montserrat', sans-serif;
		&:first-of-type{
			font-weight: 800;
			font-size: 3.7em !important;
			color: #fff;
			text-align: center;
			line-height: 1.3em;
		}
		&:last-of-type{
			text-align: center;
    		color: #fff;
    		font-family: 'Abel', sans-serif;
    		font-size: 2em;
    		font-style: italic;
    		margin-top: 50px;
		}
	}
}
#picture_text{
	textarea{
		width: 100%;
		&:first-of-type{
			font-family: 'Poppins', sans-serif;
		    font-size: 2.8em;
		    font-weight: 700;
		    line-height: 1.3em;
		    color: #8DBE9D;
		}
		&:last-of-type{
			font-family: 'Montserrat', sans-serif;
			font-style: italic;
		    color: #95a5a6;
		    font-size: 1em;
		    padding: 13px 0;
		}
	}
}
#admin{
	bottom: 0;
	position: fixed;
	z-index: 999;
	#centerAdmin{
		padding:30px;
		background-color: #ddd;
		position: relative;
		.fa{
			top:0;
			position: absolute;
			right:0;
			font-size:2em;
			padding:10px;
		}
	}
}

#menu_togglers{
	position: fixed;
	top:16em;
	margin-left: 20px;
	z-index: 999;
	text-align: center;
	li{
		margin-top: 30px;
		list-style-type: none;
			&:hover{
				color:darkred;
				transition: color .1s;
			}
		.fa{
			font-size:3em;
			cursor:pointer;
				transition: color .1s;
		}
	}
}