#author_page{
	
	@media screen and (max-width:1300px){
		.authorImage{
			width:40%;
			img{
				width: 100% !important;
			}
		}
		width:97%;
		box-sizing:border-box;
		margin:auto;
	}
	@media screen and (max-width: 399px){
		padding: 10px;
	}
	@media screen and (min-width: 400px) and (max-width: 900px){
		padding: 30px;
	}
	@media screen and (min-width: 901px){
		padding: 50px;
	}
	#image_desc{
		position: relative;
		margin-top: 30px;
		overflow: hidden;
		min-height:330px;
	
		@media screen and (max-width: 740px){
			#subtitle{
				font-size:1.4em;
			}
			#location_posts,
			#Authsocials{
				display: block;
				width: 100%;
				text-align: center;
			}
			#Authsocials{
				margin-top: 25px !important;
			}
		}
		@media screen and (max-width: 1100px){
			.authorImage{
				width:200px;
				margin:auto;
				
				img{
					border-radius:100%;
					display: inline-block;
					width:100% !important;
					border:solid 4px #e74c3c;
					box-sizing:border-box;
				}
			}
			main{
				width: 100%;
				#subtitle{
					text-align: center;
					display: block;
					width: 100%;
				}
				nav{
					display: block;
					width: 100%;
					margin: 33px 0;
					ul{
						display: inline-block;
						.fab,.fas,.far{
							font-size:1.8em;
						}
						li{
							margin-right: 20px;
							&:last-of-type{
								margin-right: 0;
							}
						}
					}
						#location_posts{
							float:left;
						}
						#Authsocials{
							float:right;
						}
				}
				p{
					line-height: 1.6em;
					font-size:.9em;
				}
			}
		}
		@media screen and (min-width: 1101px){
			.authorImage{
				width:300px;
				border-radius:10px;
				margin-top: 22px;
				display: inline-block;
				box-sizing:border-box;
				float:left;
				position: absolute;
				img{
					border-radius:100%;
					display: inline-block;
					width:100% !important;
					height:300px;
					border:solid 4px #e74c3c;
					box-sizing:border-box;
				}
			}
			main{
				display: inline-block;
				box-sizing:border-box;
				margin-left: 350px;
				float:right;
				vertical-align: top;
				nav{
					overflow: hidden;
					margin-top: 22px !important;
				}
				#location_posts,
				#Authsocials{
					li{
						float:left;
					}
				}
				#location_posts{
					float:left;
					li{
						margin-right:30px;
						font-size:1.2em;
						&:last-of-type{
							margin-right: 0;
						}
						.fas,
						.far{
						}
					}
				}
				#Authsocials{
					float:right;
					li{
						margin-left: 30px;
						&:first-of-type{
							margin-left: 0;
						}
						.fas,
						.fab{
							font-size:1.7em !important;
						}
						a{
							display: inline-block;
							&:hover{
								color:#e74c3c !important;
							}
						}
					}
				}
				span{
					color:#fff;
					font-family: 'Montserrat', sans-serif;
					.fa{
						margin-right: 10px;
					}
				}
				p{
					line-height: 2em;
					margin-top: 20px;
				}
			}
		}
	}
	.wrapper{
		width:1164px;
		margin:auto;
	}
	#latest{
		width: 100% !important;
		margin-top: 50px;
		h1{
			font-family: 'Montserrat', sans-serif;
			font-size:4em;
		}
	}
}