.navbar-default{
	border:none !important;
}
	#postPage_second{
		position: relative;

	.wrapper{
		width:100%;
	}

	#topcolWrap{
		display:none;
	}
	#topper_padding{
		display:none;
	}

	#image_name_views{
		margin-top: 30px;

		@media screen and (max-width: 560px){
			#authorImage{
				display:none;
			}
			#author_category{
				float:none;
			}
		}
		@media screen and (max-width:800px){
			width: 100%;
			text-align: center;
			float:none;
		}
		@media screen and (min-width: 501px) and (max-width: 880px){
			width:100%;
			#authorImage_name{
				display: inline-block;
				overflow: hidden;
				text-align: center !important;
			}
			#views{
				float:none;
				margin-top: 15px;
				display: block;
			}
		}
		@media screen and (min-width: 881px) and (max-width: 1110px){
			width: 80%;
		}
	}
	#coverImage{
		border:none;
		
		@media screen and (max-width: 430px){
			picture{
				img{
					max-width:135%;
					width:550px !important;
					margin-left: auto;
					margin-right: auto;
					margin:auto;
				}
			}
		}
		@media screen and (max-width:600px){
			height:500px;
			picture{
				img{
					width:100%;
					margin-left: auto;
					margin-right: auto;
					margin:auto;
				}
			}

			header{
				top:20%;
				width:80%;
				h1{
					font-size:1.8em;
				}
				#subheader{
					font-size:1.4em;
					margin-top: 20px;
				}
				#image_name_views{
					margin-top: 10px;
					p{
						font-size:.8em;
						line-height: 1.6em;
					}
					#authorImage_name{
						display: block;
						margin-bottom: 10px;
						overflow: hidden;
					}
					#views{
						display: block;
						text-align: center;
						float:none;
					}
				}
			}
		}
		@media screen and (min-width:601px) and (max-width:1119px){

			header{
				top:25%;
				max-width:80%;
				h1{
					font-size:3em;
				}
				#subheader{
					font-size:2em;
				}
			}
		}
		@media screen and (min-width:790px){
			header{
				top:35%;
			}
		}
		@media screen and (min-width: 600px) and (max-width:900px){
			picture{
				img{
					max-width:115%;
					width:1100px;
				}
			}
		}
		@media screen and (min-width: 1330px) and (max-width:1920px){
			picture{
				img{
					width:2000px;
					max-width:130%;
				}
			}
		}
		@media screen and (min-width:900px){
			min-height:100vh;
		}
		@media screen and (min-width: 1120px){

			header{
				width:900px;
				h1{
					font-size:3.7em;
				}
				#subheader{
					font-size:2em;
				}
			}
		}
	}

	#largepage_share_scroll{
		padding:25px;
		position: absolute;
		margin-top: 50px;
		@media screen and (max-width: 930px){
			display:none;
		}
		li{
			display: block;
			margin-bottom: 15px;
			.fab, .fas{
				font-size:2em;
			}
		}
	}
	#phoneShare{
		overflow: hidden;
		bottom: 0;
		position: fixed;
		z-index: 999;
		width:100%;
		@media screen and (min-width: 931px){
			display:none;
		}
		li{
			float:left;
			width: 25%;
			text-align: center;
			a{
				width: 100%;
				display: inline-block;
				color:#fff;
				padding: 3px 0;
			}
			.fab{
				font-size:1em;
			}
		}
		#fb{
			background-color: $facebook;
		}
		#reddit{
			background-color: $reddit;
		}

		#linkedin{
			background-color: $linkedin;
		}
		#twitter{
			background-color: $twitter;
		}
	}

	footer{
		background-color: #000 !important;
	}

	#postText-FullPage{
		max-width:730px;
		margin:auto;
		position: relative;
		margin-bottom: 2%;
		margin-top: 4%;
		@import '../../admin/adminStyle.scss';

		img{
			max-width: 100% !important;
			height: auto !important;
		}

		.instagram-media{
			min-height:30px !important;
		}

		@media screen and (max-width:910px){
			padding: 0 30px;

			.imgOnly{
				width:100% !important;
				padding: 0 0 !important;
				margin-bottom: 40px !important;
				img{
					width: 100% !important;
				}
			}
			iframe{
				width:100% !important;
			}
		}
		@media screen and (max-width: 1130px){
			.imgOnly{
				margin-left: 0 !important;
				img{
					width:100%;
				}
			}
		}
		
		@media screen and (min-width:1340px){
			.imgOnly{
				margin-left:-200px !important;
				width:1140px;
				margin-top: 25px !important;
				margin-bottom: 25px !important;
				&:first-of-type{
					margin-top: 30px !important;
				}
			}
			.imgOnly img{
				width:100%;
			}
		}

		.ckeditor{
			margin-top: 0;
		}
	}

	#comment{
		max-width:940px;
		margin:auto;
		margin-top: 60px;
		margin-bottom: 40px;
	}

	#continue{
		overflow: hidden;
		margin:auto;
		width: 85%;
		background-color: #e74c3c;
		padding: 35px 0;
		margin-top: 60px;

		@media screen and (max-width: 1110px){
			display:none;
		}
		h2{
			font-weight:800;
			font-family: 'Montserrat', sans-serif;
			color:#fff;
			text-transform: uppercase;
			padding: 0 32px;
			margin-bottom: 12px !important;
		}
		article{
			display: inline-block;
			float:left;
			padding:0px 35px;
			box-sizing:border-box;

			@media screen and (min-width:1110px){
				width:33%;
			}
			&:hover{
				h3{
					color:#fff;
				}
			}
			h3{
				color:#ddd;
				margin-top: 13px !important;
			}
			p{
				margin-top: 8px !important;
				font-size:.8em;
			}
			img{
				width:100%;
				height:14vw;
			}
		}
	}
}